<div id="overlay" class="overlay">
  <!-- Overlay content -->
  <div class="overlay-content">
    <h2 style="color: white;">Are you finished with selecting?</h2>
    <div style="padding-top: 2cm;">
      <p-button label="Confirm" icon="pi pi-check" styleClass="p-button-success" (onClick)="onConfirm()"></p-button>
      <p-button label="Cancel" icon="pi pi-times" styleClass="p-button-danger" (onClick)="onReject()"></p-button>
    </div>
  </div>
</div>
<div class="p-col-12">
  <div class="p-grid">
    <div class="box-custom-viewer">
      <app-forge-viewer [viewerOptions]="viewerOptions3d" (onSelectionChanged)="selectionChanged($event)">
      </app-forge-viewer>
    </div>
  </div>
</div>