.box-custom-viewer {
  width: 95%;
  height: 95vh;
  margin-top: 25px !important;
  margin: auto;
  /* Nur für Development */
  border: 5px solid #1269B0;
}

:host ::ng-deep #categoryLegend {
  top: 50px;
  left: 100px;
  width: 350px;
  height: 230px;
  min-width: 270px;
  min-height: 230px;
  background-color: rgba(255, 255, 255, 0.5) !important;
}

:host ::ng-deep .docking-panel-container-solid-color-a {
  background-color: rgba(18, 105, 176, 1) !important;
  color: black !important;
}

:host ::ng-deep .docking-panel-title {
  background-color: #1269B0 !important;
}

:host ::ng-deep .docking-panel-footer {
  background-color: #1269B0 !important;
}

:host ::ng-deep .adsk-searchbox input.search-box {
  background-color: #1269B0 !important;
}

:host ::ng-deep .adsk-searchbox input.search-box::placeholder {
  color: white !important;
}

:host ::ng-deep .lds-roller {
  /* added */
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  visibility: visible;
  text-align: center;
  /* modified */
  display: inline-block;
  width: 640px;
  height: 640px;
  transform: rotate(45deg);
  transform-origin: 320px 320px;
  opacity: 1 !important;
}

:host ::ng-deep.importantRuleDisplay { display: block !important; }

:host ::ng-deep .lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 400px 400px;
  opacity: 1 !important;
}

:host ::ng-deep .lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: #1269B0;
  margin: -40px 0 0 -40px;
  opacity: 1 !important;
}

:host ::ng-deep .lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}

:host ::ng-deep .lds-roller div:nth-child(1):after {
  top: 630px;
  left: 630px;
}

:host ::ng-deep .lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}

:host ::ng-deep .lds-roller div:nth-child(2):after {
  top: 680px;
  left: 560px;
}

:host ::ng-deep .lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}

:host ::ng-deep .lds-roller div:nth-child(3):after {
  top: 710px;
  left: 480px;
}

:host ::ng-deep .lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}

:host ::ng-deep .lds-roller div:nth-child(4):after {
  top: 720px;
  left: 400px;
}

:host ::ng-deep .lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}

:host ::ng-deep .lds-roller div:nth-child(5):after {
  top: 710px;
  left: 320px;
}

:host ::ng-deep .lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}

:host ::ng-deep .lds-roller div:nth-child(6):after {
  top: 680px;
  left: 240px;
}

:host ::ng-deep .lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}

:host ::ng-deep .lds-roller div:nth-child(7):after {
  top: 630px;
  left: 170px;
}

:host ::ng-deep .lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}

:host ::ng-deep .lds-roller div:nth-child(8):after {
  top: 560px;
  left: 120px;
}

@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes p-progress-spinner-color {
  100%, 0% {
    stroke: #ecb216;
  }
  10% {
    stroke: #eeba2f;
  }
  20% {
    stroke: #f0c349;
  }
  30% {
    stroke: #f2cb63;
  }
  40% {
    stroke: #f4d47d;
  }
  50% {
    stroke: #f6dc97;
  }
  60% {
    stroke: #f8e5b1;
  }
  70% {
    stroke: #faedcb;
  }
  80% {
    stroke: #fcf6e5;
  }
  90% {
    stroke: #ffffff;
  }
}

.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */
  height: 0%;
  width: 100%;
  position: fixed;
  /* Stay in place */
  z-index: 100;
  /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgb(0, 0, 0);
  /* Black fallback color */
  background-color: rgba(0, 0, 0, 0.9);
  /* Black w/opacity */
  overflow-x: hidden;
  /* Disable horizontal scroll */
  transition: 0.5s;
  /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

.overlay-content {
  position: relative;
  top: 50%;
  /* 25% from the top */
  width: 100%;
  /* 100% width */
  text-align: center;
  /* Centered text/links */
  margin-top: 30px;
  /* 30px top margin to avoid conflict with the close button on smaller screens */
}

:host ::ng-deep button {
  margin-right: 2cm;
}
