@import url("https://developer.api.autodesk.com/modelderivative/v2/viewers/7.*/style.min.css");
#forge-viewer {
  position: relative;
  /* Hier noch ändern wenn Buttons weg */
  width: 100%;
  height: 100%;
  /* overflow: hidden; */
}

.viewer {
  background-color: #1269B0;
  /* Gleiche Höhe wie PDF Viewer */
  /* Immer angepasst an Box */
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 0;
}

/***************************** General Things *****************************/

:host ::ng-deep .crosshair {
  cursor: crosshair;
}

/* Tooltip Farbe geändert */

:host ::ng-deep .adsk-control-tooltip {
  background-color: #1269B0 !important;
  border: 1px solid #1269B0;
}

/* Tooltip auf der rechten Seite */
:host ::ng-deep .adsk-viewing-viewer .adsk-toolbar-vertical .adsk-control-tooltip {
  /* right: unset;
  left: 120%; */
}

/* Hoover des Buttons geändert */

:host ::ng-deep .adsk-viewing-viewer.dark-theme .adsk-button:hover {
  color: white;
  border: 1px solid white;
}

/* Background der Buttons geändert */

:host ::ng-deep .adsk-viewing-viewer.dark-theme .adsk-control-group {
  background-color: #1269B0;
  content: "2";
  color: white;
}

/* Wenn aktiv dann ist Icon nicht blau eingefärbt */

:host ::ng-deep .adsk-button.active {
  color: white !important;
}

/***************************** End of General Things *****************************/

/* Levels Toolbar -> Control Group -> Buttons */

:host ::ng-deep #my-custom-toolbar-vertical {
  right: 15px;
  left: unset;
}

:host ::ng-deep #my-custom-toolbar-horizontal{
  width: 200px;
  right: unset;
  left: 25px;
}


:host ::ng-deep .start-selection {
  width: 28px;
}

/* Buttons */

:host ::ng-deep .start-selection:hover {
  background-color: rgb(255, 0, 0);
}

:host ::ng-deep .start-selection.active {
  background-color: rgb(255, 0, 0);
}

:host ::ng-deep .get-neighbors:hover {
  background-color: rgb(255, 0, 0);
}

:host ::ng-deep .get-neighbors.active {
  background-color: rgb(255, 0, 0);
}

/* Alle Buttons werden im GuiViewer3D ausgeblendet => Reihenfolge korrekt */

:host ::ng-deep .adsk-viewing-viewer #toolbar-orbitTools {
  display: none !important;
}

:host ::ng-deep .adsk-viewing-viewer #toolbar-panTool {
  display: none !important;
}

:host ::ng-deep .adsk-viewing-viewer #toolbar-zoomTool {
  display: none !important;
}

:host ::ng-deep .adsk-viewing-viewer #toolbar-bimWalkTool {
  display: none !important;
}

:host ::ng-deep .adsk-viewing-viewer #toolbar-cameraSubmenuTool {
  display: none !important;
}

:host ::ng-deep .adsk-viewing-viewer #toolbar-measurementSubmenuTool {
  display: none !important;
}

:host ::ng-deep .adsk-viewing-viewer #toolbar-sectionTool {
  display: none !important;
}

:host ::ng-deep .adsk-viewing-viewer #toolbar-explodeTool {
  display: none !important;
}

/* :host ::ng-deep .adsk-viewing-viewer #toolbar-modelStructureTool {
  display: none!important
} */

/* :host ::ng-deep .adsk-viewing-viewer #toolbar-propertiesTool {
    display: none!important
} */

/* 
:host ::ng-deep .adsk-viewing-viewer #toolbar-settingsTool {
  display: none !important;
}

/* :host ::ng-deep .adsk-viewing-viewer #toolbar-layers-tool {
    display: none!important
} */

:host ::ng-deep .adsk-viewing-viewer #toolbar-fullscreenTool {
  display: none !important;
}

/* :host ::ng-deep .menu.docking-panel.docking-panel-container-solid-color-a {
    visibility: hidden !important;
} */

/* .MyNavButton {
    position: absolute;
    top: 0;
    z-index: 1;
    padding: 1em;
    font-size: 1em;
    cursor: pointer;
  }
  #MyPrevButton {
    left: 50;
  }
  #MyNextButton {
    right: 0;
  } */

@keyframes slideMe {
  0% {
    transform: skewX(53deg) translateX(-500px);
    opacity: 0;
  }
  60% {
    transform: translateX(0px);
  }
  62% {
    transform: skewX(0deg) translateX(30px);
  }
  70% {
    transform: skew(-20deg);
    opacity: 1;
  }
  80% {
    transform: skew(0deg) translate(0);
  }
  90% {
    transform: skew(-5deg);
  }
  100% {
    transform: skew(0deg);
  }
}

:host ::ng-deep .geometry {
  max-width: 200px;
  opacity: 0.8;
  height: 200px;
  font-family: "Helvetica Neue Light", "Segoe UI Semilight", sans-serif;
  font-size: 13px;
  color: #333333;
  display: inline-block;
  margin-left: 1em;
  -webkit-user-select: none;
  /* Chrome/Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  cursor: pointer;
  /* cursor: crosshair; */
  margin-top: 10px;
}